<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>comma</key>
		<integer>24</integer>
		<key>period</key>
		<integer>48</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-86</integer>
		<key>W</key>
		<integer>-90</integer>
		<key>comma</key>
		<integer>-34</integer>
		<key>period</key>
		<integer>-26</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-194</integer>
		<key>period</key>
		<integer>-114</integer>
		<key>q</key>
		<integer>-48</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>v</key>
		<integer>-46</integer>
		<key>w</key>
		<integer>-26</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-214</integer>
		<key>W</key>
		<integer>-212</integer>
		<key>quotedbl</key>
		<integer>-272</integer>
		<key>quotesingle</key>
		<integer>-272</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>comma</key>
		<integer>-410</integer>
		<key>period</key>
		<integer>-264</integer>
		<key>q</key>
		<integer>-27</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>comma</key>
		<integer>-22</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>colon</key>
		<integer>-198</integer>
		<key>comma</key>
		<integer>-276</integer>
		<key>hyphen</key>
		<integer>-140</integer>
		<key>period</key>
		<integer>-180</integer>
		<key>q</key>
		<integer>-117</integer>
		<key>semicolon</key>
		<integer>-86</integer>
		<key>w</key>
		<integer>-21</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>colon</key>
		<integer>-182</integer>
		<key>comma</key>
		<integer>-212</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-124</integer>
		<key>q</key>
		<integer>-110</integer>
		<key>semicolon</key>
		<integer>-134</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>-124</integer>
		<key>l</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>-42</integer>
		<key>v</key>
		<integer>-82</integer>
		<key>w</key>
		<integer>-86</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-8</integer>
		<key>f</key>
		<integer>-75</integer>
		<key>l</key>
		<integer>-14</integer>
		<key>period</key>
		<integer>-8</integer>
		<key>quotedbl</key>
		<integer>-42</integer>
		<key>quotesingle</key>
		<integer>-42</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>w</key>
		<integer>-54</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>comma</key>
		<integer>-32</integer>
		<key>period</key>
		<integer>-42</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>d</key>
		<integer>-198</integer>
		<key>l</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-36</integer>
		<key>quotesingle</key>
		<integer>-36</integer>
		<key>v</key>
		<integer>-80</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-168</integer>
		<key>period</key>
		<integer>-122</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-90</integer>
		<key>h</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-144</integer>
	</dict>
</dict>
</plist>
